<footer>
  <div class="container">
        <ul class="link-list">
          <li><a class="link" href="https://www.wedio.com/en/s">Rent gear</a></li>
          <li><a class="link" href="https://subscription.wedio.com/da">Subscription</a></li>
          <li><a class="link" href="https://www.wedio.com/rent-out-film-equipment">Become a lender</a></li>
          <li><a class="link" href="https://www.wedio.com/how-it-works">How it works</a></li>
          <li><a class="link" href="https://blog.wedio.com/">Blog</a></li>
          <li><a class="link" href="https://blog.wedio.com/tag/jobs/">Jobs</a></li>
          <li><a class="link" href="https://support.wedio.com/">Support</a></li>
          <li><a class="link" href="http://support.wedio.com/en/articles/3491417-terms-and-conditions" target="_blank"rel="noopener">Terms and conditions</a></li>
          <li><a class="link" href="http://support.wedio.com/en/articles/3491350-privacy-policy-your-data-your-decision"target="_blank" rel="noopener">Privacy policy</a></li>
          <li><a class="link" href="https://www.wedio.com/contact-us">Contact</a></li>
        </ul>
      <hr id="separator">
      <div class="social-link-wrapper">
        <div>
          <a class="soc-media" href="https://www.facebook.com/WedioGlobal" target="_blank" rel="noopener">
            <img src="{{asset "_custom/fb-black.svg"}}" alt="Facebook" class="soc-media-circle" />
          </a>
          <a class="soc-media" href="https://www.instagram.com/wedio_community" target="_blank" rel="noopener">
            <img src="{{asset "_custom/instagram-black.svg"}}" alt="Instagram" class="soc-media-circle" />
          </a>
          <a class="soc-media" href="https://www.linkedin.com/company/wedio/" target="_blank" rel="noopener">
            <img src="{{asset "_custom/linkedin-black.svg"}}" alt="Linkedin" class="soc-media-circle" />
          </a>
        </div>
      </div>
    <div class="copyright-wrapper">
      <div class="copyright">
        <a href="https://www.wedio.com/">
          <img src="{{asset "_custom/logo-wedio-white.svg"}}" alt="White Wedio logo" class="wedio-logo-small">
        </a>
        <p class="copyright-date">© 2018-2020</p>
      </div>
    </div>
  </div>
</footer>