// From
// @media screen and (min-width: 1024px) { }

// until
// @media screen and (max-width: 1024px - 1px) { }

footer {
  background-color: #212121;
  padding: 3rem 3rem;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 30px;
  @media screen and (max-width: 1216px - 1px) {
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 0px;
  }

  .link-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    text-align: center;
    justify-content: center;

    li {
      padding-right: 1.2rem;
      padding-right: 1.2rem;
      margin-top: 6px;

      a {
        font-size: 14px !important;
        color: #d9d9d9 !important;
        white-space: nowrap;
      }
    }
  }

.social-link-wrapper {
  width: fit-content;
  @media screen and (min-width: 1216px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3%;
  }

  .soc-media-circle {
    padding: 0px;
  }

  .soc-media {
    padding: 5px !important;
  }

  .soc-media:hover {
    filter: invert(100%);
  }
}
}

#separator {
  background-color: black;
  height: 1px;
  margin-bottom: 0px;
  border: none !important;
}

.copyright-wrapper {
  display: flex;
  padding-top: 10px;
  padding-left: 30px;
  @media screen and (max-width: 1216px - 1px) {
    justify-content: center;
    padding-left: 0px;
  }

  .wedio-logo-small {
    width: 70px;
    margin-bottom: 5px;
  }

  .copyright-date {
    color: white;
    font-size: 12px;
  }
}