// From
// @media screen and (min-width: 1024px) { }

// until
// @media screen and (max-width: 1024px - 1px) { }

footer {
  background-color: #212121;
  padding: 20px 40px 40px
}

.container {
  max-width: 1140px;
  margin: auto;
}

.link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  text-align: center;
  justify-content: center;

  li {
    padding: 20px 15px 0px 15px;

    a {
      font-size: 14px !important;
      color: #d9d9d9 !important;
      white-space: nowrap;
    }
  }
}

#separator {
  background-color: black;
  border: none !important;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.social-link-wrapper {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  .soc-media-circle {
    padding: 0px;
  }

  .soc-media {
    padding: 5px !important;
  }

  .soc-media:hover {
    filter: invert(100%);
  }
}

.copyright-wrapper {
  display: flex;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; 
  text-align: center;

  .wedio-logo-small {
    width: 70px;
  }

  .copyright-date {
    color: white;
    font-size: 12px;
  }
}