.m-button {
  outline: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 100px;
  min-height: 48px;
  min-width: 180px;
  line-height: 48px;
  padding: 0% 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;

  // Primary
  background-color: #00b2a9;
  color: white !important;
  border: none !important;
  &:hover {
    transition-duration: 0.3s;
    background-color: #28cfc7;
  }

  // Others
  &.secondary {
    background-color: var(--btn-secondary-bg-color);
    color:var(--btn-secondary-color)  !important; 
  }
  
  &.secondary:hover {
    background-color: #28cfc7;
  }
  
  &.secondary.ghost {
    background-color: transparent;
    color: var(--btn-secondary-bg-color)  !important;
    box-shadow: 0 0 0 2px var(--btn-secondary-bg-color) inset;
    -webkit-box-shadow: 0 0 0 2px var(--btn-secondary-bg-color) inset;
  }
  
  &.secondary.ghost:hover {
    color:var(--btn-secondary-color) !important;
    background-color: var(--btn-secondary-bg-color);
  }

  &.slim {
    min-height: 40px;
    line-height: 40px;
  }

  &.header-button {
    position: absolute;
    top: -34px;
    left: 10px;

    @include respond-to('medium') {
      position: initial;
    margin-right: 20px;
  }
  }
}